{% extends 'base.html.twig' %}

{% block style %}
    {% stylesheets '/css/bootstrap.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <table class="table">
        <tr>
            <td>3234234</td>
            <td>342423</td>
        </tr>
        <tr>
            <td>asdas</td>
            <td>sdasd</td>
        </tr>
        
    </table>
{% endblock %}

